.settings/
.classpath
.project
target/
shadetest-fronteira/build12/build12_Build_Output/
shadetest-fronteira/build12/build12locales_Default_Configuration/
shadetest-fronteira/build12/buildlog.xml
shadetest-fronteira/build12/ia.credstore
dependency-reduced-pom.xml
*~
Thumbs.db
*.log
